---
title: false
styles: true
---

@import "alembic";

.typeset h2 {
    font-weight: 300;
}

.center {
    text-align: center;
}
.container {
    max-width: 1920px;
}

@media screen and (min-width: 70em) {
    .content {
        width:62%
    }
}

@media screen and (max-width: 70em) {
    .content {
        width:100%
    }
}

.div-plot-iframe {
    padding-bottom: 5px;
    background: radial-gradient(ellipse closest-side,rgb(200, 200, 200), rgb(230, 230, 230));
}

.material-icons {
    display: inline-flex;
    vertical-align: middle;
}